{% extends "5_jsonapiblog/5_base.html" %}

{% comment %}

Problem Set 5 - Json API Blog

signup.html

{% endcomment %}

{% block content %}
<div class="content-area">
	
User Signup
<br><br>
<form method="post">
<label>Username:</label> <input name="username" type="text" value="{{ username }}"><span class="error">{{ error.username }}</span>
<label>Password:</label> <input name="password" type="text" value="{{ password }}"><span class="error">{{ error.password }}</span>
<label>Verify Password:</label> <input name="verify" type="text" value="{{ verify }}"><span class="error">{{ error.verify }}</span>
<label>Email:</label> <input name="email" type="text" value="{{ email }}"><span class="error">{{ error.email }}</span>
<input type="submit" value="Submit">
</form>

</div>
{% endblock %}
