{% extends 'base_site.html' %}
{% block content %}

<a href="{% url appengine_index %}">Problem Set 1 - App Engine</a><br />
<a href="{% url rot13_index %}">Problem Set 2 - Rot13</a><br />
<a href="{% url usersignup_index %}">Problem Set 2 - User Signup</a><br />
<a href="{% url basicblog_index %}">Problem Set 3 - Basic Blog</a><br />
<a href="{% url cookiesusers_signup %}">Problem Set 4 - User Registartion, Log in, and Log Out</a><br />
<a href="{% url jsonapiblog_index %}">Problem Set 5 - Json API Blog</a><br />

{% endblock %}
