{% extends "base_site.html" %}

{% block menu %}

<div style="width:100%; background-color:#999999;">
<a href="{% url 7_final_index %}">Index</a>
<div style="float:right;">
	
{% if name %}
{% if page_edit %}

<a href="/7_final/_edit/{{ page }}{% if version != None %}?v={{ version }}{% endif %}">Edit</a>
 | 
<a href="/7_final/_history/{{ page }}">History</a>

{% endif %}

&nbsp;&nbsp;&nbsp;({{ name }}) <a href="/7_final/logout">logout</a>

{% else %}

<a href="/7_final/login">Log in</a> | <a href="/7_final/signup">Sign up</a>

{% endif %}

</div>
</div>
{% endblock %}

{% block content %}{% endblock %}
