{% extends "7_final/7_base.html" %}

{% comment %}

Problem Set 7 - Wiki

history.html

{% endcomment %}

{% block content %}

<h2>History for page: {{ page }}</h2>

<table>

{% for version in versions %}
<tr>
	<td>{{ version.version }}</td>
	<td>{{ version.date_created }}</td>
	<td>{{ version.content }}</td>
	<td><a href="{% url 7_final_wiki page=version.page.page_url %}?v={{ version.version }}">View</a></td>
	<td><a href="{% url 7_final__edit page=version.page.page_url %}?v={{ version.version }}">Edit</a></td>
</tr>
{% endfor %}

</table>

{% endblock %}
